body{
    background-color: #ACA4FF;
    color: #837E9F;
    font-weight: bold;

}


#nome{
    display: flex;
    position: absolute;
    width: 348px;
    height: 292px;
    left: 40px;
    flex-wrap: wrap;
    top: 40px;
    border-radius: 23px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(0, 0, 0);


    



}
#links{
    display: flex;
    position: absolute;
    width: 348px;
    height: 348px;
    left: 40px;
    flex-wrap: wrap;
    top: 362px;
    border-radius: 23px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
 
    

    

}
#links div{
    margin: 10px 0 10px 10px;
    display: flex;

    align-items: center;
}
a{
    display: flex;
    align-items: center;
    color: #837E9F;
    
}
.foto{
    width: 129px;
    height: 128px;

    border-radius: 100%;
    border: 3px solid rgb(9, 17, 122);
}
#tecnologias{
    display: flex;
    position: absolute;
    width: 330px;
    height: 200px;
    left: 40px;
    flex-wrap: wrap;
    top: 740px;
    border-radius: 23px;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 30px;
}
.redondo{
    background-color: #CB92B1;
    color: black;
    width: auto;
    min-width: 100px;
    height: 24px;
    border-radius: 17px;
    font-size: small;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
#experiencia{
    display: flex;
    position: absolute;
    width: 330px;
    height: 349px;
    left: 40px;
    flex-wrap: wrap;
    top: 1023px;
    border-radius: 23px;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 30px;

}
ul {
    list-style: none

  }
  
  ul li:before {
    content: '\2022';
    margin: 0 2px;
    color: #837E9F /* cor da bolinha */
   }
li{
    font-size: 20px;

}
#educacao{
    display: flex;
    position: absolute;
    width: 330px;
    height: 349px;
    left: 40px;
    flex-wrap: wrap;
    top: 1457px;
    border-radius: 23px;
    align-content: flex-start;
    justify-content: normal;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 30px;


}
#myProjects{
    display: flex;
    position: absolute;
    width: 952px;
    height: 86px;
    left: 441px;
    flex-wrap: wrap;
    top: 41px;
    border-radius: 23px;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 30px;

}
#myProjects div{
    font-weight: normal;
    font-size: 20px;
}
#projeto{
    display: flex;
    position: absolute;
    width: 380px;
    height: 300px;
    left: 448px;
    flex-wrap: wrap;
    top: 157px;
    border-radius: 23px;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 30px;

}
.descricao{
    font-size: 20px;
    font-weight: normal;
}
#projeto .html{
    border-radius: 50%;
    background-color: rgb(218, 15, 0);
}
#projeto .css{
    border-radius: 50%;
    background-color: rgb(0, 0, 203);
}
#projeto .javaScript{
    border-radius: 50%;
    background-color: rgb(212, 209, 0);
}









